In [3]:
import pandas as pd
import numpy as np

In [4]:
rast1=np.random.randint(1,20,(4,3))
rast1

array([[14,  8, 11],
       [ 5, 11, 12],
       [ 9, 15,  6],
       [ 8, 10, 11]])

In [5]:
rast2=np.random.randint(1,20,(4,3))
rast2

array([[14, 11,  5],
       [16, 15, 14],
       [ 9,  4,  7],
       [ 6, 16, 11]])

In [6]:
df1=pd.DataFrame(rast1,columns=["sütun1","sütun2","sütun3"])
df1

   sütun1  sütun2  sütun3
0      14       8      11
1       5      11      12
2       9      15       6
3       8      10      11

In [8]:
df2=pd.DataFrame(rast1,columns=["sütun1","sütun2","sütun3"])
df2

   sütun1  sütun2  sütun3
0      14       8      11
1       5      11      12
2       9      15       6
3       8      10      11

In [12]:
# çalışanlar veri seti
emp = pd.DataFrame({
    'Employee ID':[1, 2, 3, 4, 5],
    'Name':['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Department ID':[101, 102, 101, 103, 102],
    'Salary(USD)':[60000, 50000, 70000, 48000, 52000]
})
emp

   Employee ID     Name  Department ID  Salary(USD)
0            1    Alice            101        60000
1            2      Bob            102        50000
2            3  Charlie            101        70000
3            4    David            103        48000
4            5      Eve            102        52000