In [1]:
import pandas as pd

In [2]:
liste=[1,2,3,"a","b","c"]
liste

[1, 2, 3, 'a', 'b', 'c']

In [3]:
df=pd.DataFrame(liste,columns=["veri1"])
df

  veri1
0     1
1     2
2     3
3     a
4     b
5     c

In [4]:
import numpy as np

In [8]:
veriler=np.random.randint(1,100,(3,3))
veriler

array([[99, 46, 57],
       [79, 76,  8],
       [43, 70, 79]])

In [13]:
df1=pd.DataFrame(veriler,index=["satir1","satir2","satir3"],columns=["sütun1","sütun2","sütun3"])
df1

        sütun1  sütun2  sütun3
satir1      99      46      57
satir2      79      76       8
satir3      43      70      79

In [14]:
veriler=[["nisa","yılbur",16],["rabia","akkuş",16]]
veriler

[['nisa', 'yılbur', 16], ['rabia', 'akkuş', 16]]

In [18]:
df2=pd.DataFrame(veriler,index=["ogrenci_1","ogrenci_2"],columns=["ad","soyad","yas"])
df2

              ad   soyad  yas
ogrenci_1   nisa  yılbur   16
ogrenci_2  rabia   akkuş   16

In [ ]:
df2.info()#dataframe hakkında genel bilgi.